$site-width: 700px;

$large-space: 14px;

$brand-color: #5fcf80;

$main-font: 'Varela Round';

$header-height: 66px;

$input-border: #edeff0;

$page-content-height: calc(100vh - #{$header-height});